{% load crispy_forms_tags %}

<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        {% if user.is_authenticated %}
        <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
            <!-- <form id="comment-form" method="POST" action="{% url 'blogapp:detail' pk=post.pk %}new_comment/"> -->
            {% csrf_token %}
            <div class="form-group">
                {{ comment_form | crispy }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% else %}
        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-toggle="modal"
            data-target="#loginModal">Log in and leave a comment</a>
        {% endif %}
    </div>
</div>