{% extends 'base.html' %}

{% block content %}
{% include 'modal.html' %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 col-lg-9">

            {% if user.is_authenticated%}
            {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right" href="/blog/create_post/" role="button"><i
                    class="fas fa-pen"></i>&nbsp;&nbsp;New Post</a>
            {% endif %}
            {% endif %}

            <h1>Blog {% if category %}<span class="badge badge-secondary">{{ category }}</span>{% endif %}
                {% if tag %}<span class="badge badge-light">{{ tag }}
                    ({{ tag.post_set.count }})</span>{% endif %}
            </h1>

            {% for p in post_list %}

            <!-- Blog Post -->
            <div class="card mb-4" id="main-area">
                {% if p.head_image %}
                <img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap">
                {% else %}
                <img class="card-img-top" src="https://picsum.photos/seed/{{ p.pk }}/750/300" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    {% if p.category %}
                    <span class="badge badge-secondary float-right">{{ p.category }}</span>
                    {% else %}
                    <span class="badge badge-secondary float-right">미분류</span>
                    {% endif %}
                    <h2 class="card-title">{{ p.title }}</h2>

                    {% if p.hook_text %}
                    <h5 class="text-muted">{{ p.hook_text }}</h5>
                    {% endif %}

                    <p class="card-text">{{ p.get_content_markdown | truncatewords_html:45 | safe}}</p>
                    {% if p.tags.exists %}
                    {% for tag in p.tags.iterator %}
                    <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag }}</span></a>
                    {% endfor %}
                    <br />
                    <br />
                    {% endif %}

                    <!-- <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a> -->
                    <a href="{% url 'blogapp:detail'  pk=p.pk %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ p.created_at}} by
                    <a href="#">{{ p.author | upper }}</a>
                </div>
            </div>
            {% endfor %}


            <!-- Pagination -->
            {% include 'list/pagination.html' %}

        </div>

        <div class="col-md-4 col-lg-3">
            <!-- Search Widget -->
            {% include 'list/search.html' %}


            <!-- Categories Widget -->
            {% include 'list/category_widget.html' %}

        </div>
    </div>
</div>

<!-- Footer -->
{% include 'footer.html' %}


<!-- jsDeliver -->
{% include 'jsDeliver.html' %}


{% endblock %}